body{
    overflow: hidden;
    background-color: black;
}
h1{
  text-align: center;
    color:tomato;
    font-family:fantasy;
    word-spacing: 3px;  
    text-shadow: 3px 4px 5px black;
    margin-bottom: 60px;
}
.imageContainer {
    display: flex;
    justify-content: center;
    margin-left: 70px;
    margin-bottom: 50px;
    position: relative;
    align-items: center;
    max-width: 100vw;
    width: 90%;
  }
  #currentImage {
    max-width: 400vw;
    max-height: 400px;
    display: flex;
    box-shadow: 0 0 40px 5px white;
    cursor: pointer;
    border: 5px;
    border-radius: 20px;
    }

  .buttonContainer {
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    width: 50%;
    margin-left: 25%;
}
  .buttonContainer button{
    display: flex;
    border-radius: 5%;
    background-color: black;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 10px 0 white;
    border: 2px solid white;
    cursor: pointer;
}
.buttons{    
    position: absolute;
    justify-content: space-between; 
    display: flex;
    width: 60%;
    cursor: pointer;
}
.buttons button{
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 50%;
    font-size: larger;
    background-color: rgba(255, 255, 255, 0.555);
    cursor: pointer;
}